<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDisplayName</key>
	<string>iOS Notify</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>IOSNotify uses Bluetooth to connect to your smart band and forward notifications.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>IOSNotify uses Bluetooth to connect to your smart band and forward notifications.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>IOSNotify needs notification access to route alerts to your smart band and Shortcuts.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>bluetooth-le</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>tg</string>
		<string>sgnl</string>
		<string>fb</string>
		<string>fb-messenger</string>
		<string>instagram</string>
		<string>barcelona</string>
		<string>twitter</string>
		<string>discord</string>
		<string>slack</string>
		<string>snapchat</string>
		<string>tiktok</string>
		<string>googlegmail</string>
		<string>ms-outlook</string>
		<string>linkedin</string>
		<string>youtube</string>
		<string>spotify</string>
		<string>viber</string>
		<string>line</string>
		<string>weixin</string>
		<string>reddit</string>
		<string>twitch</string>
		<string>pinterest</string>
		<string>bereal</string>
		<string>bumble</string>
		<string>tinder</string>
		<string>uber</string>
		<string>lyft</string>
		<string>skype</string>
		<string>msteams</string>
	</array>
</dict>
</plist>
